# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.env

# Docker
.docker/

# Kubernetes
*.kubeconfig

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets - NEVER commit these
*.pem
*.key

secrets.yaml

# Helm
*.sh
